<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="avatarContainer">
    <ion-avatar class="avatar" (click)="changePicture()">
      <ion-img *ngIf="pictureUrl" [src]="pictureUrl "></ion-img>
      <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg" *ngIf="!pictureUrl"></ion-img>
    </ion-avatar>
  </div> -->

  <ion-list [formGroup]="teamForm">
    <ion-item>
      <ion-label position="stacked">Team Name</ion-label>
      <ion-input placeholder="Enter text" formControlName="name"></ion-input>
    </ion-item>

    <app-item-selector formControlName="users" title="users" [itemList]="getUserItems()"></app-item-selector>
    <app-item-selector formControlName="workouts" title="Workouts" [itemList]="getWorkouItems()"></app-item-selector>

    <ion-button expand="full" (click)="updateTeam()">Update</ion-button>
  </ion-list>
</ion-content>
