<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="avatarContainer">
    <ion-avatar class="avatar" (click)="changePicture()">
      <ion-img *ngIf="pictureUrl" [src]="pictureUrl "></ion-img>
      <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg" *ngIf="!pictureUrl"></ion-img>
    </ion-avatar>
  </div> -->

  <ion-list [formGroup]="teamForm">
    <ion-item>
      <ion-label position="stacked">Team Name</ion-label>
      <ion-input placeholder="Enter text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item (click)="openUserModal()">
      <ion-label position="stacked">Users</ion-label>
      <p>user</p>
    </ion-item>

    <ion-item (click)="openWorkoutModal()">
      <ion-label position="stacked">Workouts</ion-label>
      <p>workout</p>
    </ion-item>

    <ion-button expand="full">Update</ion-button>
  </ion-list>
</ion-content>
