<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Select Users</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar [debounce]="1000" (ionChange)="userSearched($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list role="feed">
    <ion-item role="article" *ngFor="let u of filteredUsers;let  i = index;" (click)="userClicked(u)" [color]="isUserSelected(u) ? 'medium' : 'undefined'" lines="none">
      <ion-avatar slot="start">
        <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      </ion-avatar>
      <ion-label>User {{i}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
