<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Exercises</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ng-container [formGroup]="searchForm">
    <ion-searchbar placeholder="Search" formControlName="search"></ion-searchbar>
    <ion-select placeholder="Select category" formControlName="categories" [multiple]="true">
      <ion-select-option [value]="c" *ngFor="let c of categories">{{c}}</ion-select-option>
    </ion-select>
  </ng-container>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let e of shownExercises" routerLink="/edit-exercise/{{e.id}}">
      <ion-label>
        <h2>{{e.name}}</h2>
        <p>{{e.category}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" threshold="2%">
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
