<ion-content >

  <div class="login">

      <ion-img src="assets/logo.svg" class="picture"></ion-img>


    <div class="bottom" [formGroup]="loginForm">
    <ion-item class="width">
      <ion-label>Email:</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="width">
      <ion-label>Password:</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="block"  (click)="login()">Login</ion-button>
  </div>
  </div>
</ion-content>
