<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [formGroup]="exerciseForm">
    <ion-item>
      <ion-label position="stacked">Exercise Name</ion-label>
      <ion-input placeholder="Enter text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea placeholder="Type something here" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-textarea placeholder="Type something here" formControlName="category"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
