<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Users</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="add-outline" size="large" (click)="inviteUser()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>


    <ion-list role="feed">
      <ion-item role="article" *ngFor="let u of users">
        <ion-avatar slot="start">
          <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
        </ion-avatar>
        <ion-label>{{(u.firstName | titlecase) + ' ' +  (u.lastName | titlecase)}}</ion-label>
      </ion-item>
    </ion-list>

  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

