<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CreateTeam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatarContainer">
    <ion-avatar class="avatar" (click)="changePicture()">
      <ion-img *ngIf="pictureUrl" [src]="pictureUrl "></ion-img>
      <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg" *ngIf="!pictureUrl"></ion-img>
    </ion-avatar>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Team Name</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item (click)="openModal()">
      <ion-label position="stacked">Users</ion-label>
      <ion-label>"users on team"</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
