<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pictureContainer">
    <ion-avatar class="picture" (click)="changePicture()">
      <ion-img *ngIf="pictureUrl" [src]="pictureUrl "></ion-img>
      <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg" *ngIf="!pictureUrl"></ion-img>
    </ion-avatar>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Stacked label</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Stacked label</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Stacked label</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-button expand="block"  routerLink="/folder/Inbox">Login</ion-button>

</ion-list>

</ion-content>
