<ng-container [formGroup]="selectedExerciseDetailsForm">
<ion-list>
  <ion-list-header>
    <ion-label>Exercises</ion-label>
    <ion-button (click)="openAddExerciseModal()">Add</ion-button>
  </ion-list-header>

  </ion-list>

  <ng-container formArrayName="exercises">
    <ion-accordion-group>
      <ion-accordion [value]='exercieseForm.value?.exercieseId'  *ngFor="let exercieseForm of selectedExerciseDetailsArray.controls; index as i;">
        <ion-item slot="header">
          <ion-label>{{exercieseForm.value?.name}}</ion-label>
        </ion-item>
        <div slot="content" [formGroupName]="i">
          <app-set-list formControlName="reps"></app-set-list>
          <ion-button expand="block" color="danger" (click)="removeAtIndex(i)">Delete exercise</ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    </ng-container>

</ng-container>


